* {
  direction: rtl;
  text-align: center;
  font: 1.05em ShiriLight;
}

table {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

th {
  width: 100px;
  height: 50px;
  background-color: rgb(190, 140, 140);
  border-bottom: 0px;
}
