* {
  direction: rtl;
  text-align: center;
  font: 1em sans-serif;
}

table {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

th {
  width: 100px;
  height: 50px;
  background-color: gray;
  border-bottom: 0px;
}
