<!DOCTYPE html>
<html lang="he">


<body>
  <h1 align=right> המחיר להזמנתך הוא </h1>
  <table align="right">
    <tr>
      <th>מספר שורה</th>
      <th>תיאור פריט</th>
      <th>מחיר</th>
      <th>כמות</th>
      <th>סה"כ</th>
    </tr>
    <tr *ngFor='let p of pricesArray'>
      <td>{{p. MisShura}}</td>
      <td>{{p.TeurParit}}</td>
      <td>{{p.Mehir}}</td>
      <td>{{p.Kamut}}</td>
      <td>{{p.SachHakol}}</td>
    </tr>
  </table>


  <table *ngIf="total" align="center" border="solid 2px">
    <tr>
      <td>{{total.sachLifney}}</td>
      <td>סה"כ ברוטו</td>
    </tr>
    <tr>
      <td>{{total.Hanacha}}</td>
      <td>{{total.Hanacha}} % הנחה</td>
    </tr>
    <tr>
      <td>סה"כ לפני מע"מ</td>
    </tr>
    <tr>
      <td>{{total.sachAcharey}}</td>
      <td>{{total.Maham}} % מע"מ</td>
    </tr>
    <tr>
      <td>{{total.SachHakolKolel}}</td>
      <td>"כ כולל מע"מ</td>
    </tr>
  </table>


  <button class="" onclick="">
    <h3>הבא </h3>
  </button>

  <button class="" onclick="">
    <h3>הקודם </h3>
  </button>

</body>

</html>
