<!DOCTYPE html>
<html lang="he">


<body>
  <table align="right">
    <tr>
      <th>
        <h2>מספר שורה</h2>
      </th>
      <th>
        <h2>תיאור פריט </h2>
      </th>
      <th>
        <h2>מחיר </h2>
      </th>
      <th>
        <h2>כמות </h2>
      </th>
      <th>
        <h2>סה"כ </h2>
      </th>
    </tr>


    <tr *ngFor='let p of pricesArray'>
      <td>{{p. MisShura}}</td>
      <td>{{p.TeurParit}}</td>
      <td>{{p.Mehir}}</td>
      <td>{{p.Kamut}}</td>
      <td>{{p.sachHakol}}</td>
    </tr>

  </table>

  <table align="center" border="solid 2px">
    <h1 align=center> המחיר להזמנתך הוא </h1>

    <tr class='input'>

      <td>
        <h2> {{total.sachLifney}}</h2>
      </td>
      <td>
        <h2>סה"כ ברוטו</h2>
      </td>
    </tr>

    <tr>

      <td>
        <h2>{{total.Hanacha}}</h2>
      </td>
      <td>
        <h2> הנחה</h2>
      </td>
      <td>
        <h2>{{total.Hanacha}} % אחוז הנחה</h2>
      </td>
    </tr>
    <tr>
      <td>
        <h2>{{total.sachAcharey}}</h2>
      </td>
      <td>
        <h2>
          סה"כ אחרי הנחה
        </h2>
      </td>
    </tr>

    <tr>
      <td>
        <h2>{{total.Maham}} % אחוז מע"מ</h2>
      </td>

      <td>
        <h2>סה"כ לפני מע"מ </h2>
      </td>
    </tr>
    <tr>

      <td>
        <h2>{{total.SachHakolKolel}}</h2>
      </td>
      <td>
        <h2>סה"כ כולל מע"מ</h2>
      </td>
    </tr>

  </table>
  <button class="" onclick="">
    <h3>הבא </h3>
  </button>

  <button class="" onclick="">
    <h3>הקודם </h3>
  </button>

</body>

</html>
